@import "../../styles/base/variables";

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.headerRow {
  background-color: $color-bg-table-header;
}

.headerCell {
  color: $color-table-header !important;
  text-transform: uppercase;
  font-size: 18px !important;
}

.priceRow {
  background-color: $color-table-header;
}

.priceCell {
  color: $color-bg-table-header !important;
  height: 90px;
  &:first-child {
    font-size: 18px !important;
  }
}

.tableBody {
  border: 1px solid $color-border;
}

.bodyCell {
  border-right: 1px solid $color-border;
  &:last-child {
    border: 0;
  }
}
