.wrapper {
  width: 170px;
  margin: 10px auto;
  position: relative;
}

.labelRight {
  position: absolute;
  top: 2px;
  left: 59px;
}

.labelLeft {
  position: absolute;
  top: 2px;
  left: -58px;
}
